.task {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(206, 199, 206);
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .userSignout{
    margin-right: 10px;
    margin-top: 10px;
    height: 44px;
  }
  .dashboard2{
    background-color: rgb(149, 201, 227);
    
  }
  .dashboard2 h1, p {
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .dashboard2 p{
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 0px 9px rgb(102, 193, 188);
    color: rgb(18, 39, 89);
  }
  .taskForm {
    margin: 20px;
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: auto;
  }
  .taskForm h3{
    margin-left: 12px;
  }
  .eleWidth {
    background-color: transparent;
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .eleWidth h3{
    background-color: purple;
  }
  p{
    color: black;
    background-color: transparent;
  }

  .textData {
    color: black;
    width: 100%;
    height: 150px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    resize: vertical;
    font-size: 16px;
  }

  .progress-bar {
    background-color: #e0e0e0;
    height: 45px;
    font-size: 18px;
    border-radius: 8px;
    /* overflow: visible; */
    margin-bottom: 15px;
  }

  .progress-bar-fill {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    transition: width 0.3s ease-in-out;
  }

  button {
    background-color: #357ae8;
    margin-top: 10px;
    margin-left: 10px;
    height: 44px;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
  }

  button:hover {
    background-color: #45a049;
  }
